*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAEDCD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #EAD2AC;
    height: 100vh;
    width: 1100px;
}

header{
    background-color: #8B5E3C;
    height: 200px;
    margin-top: 0;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    padding-top: 20px;
}